<div class="container mt-5">
    <div class="row  justify-content-end">
        <div class="col-3">
            <input type="date" name="" id="" class="form-control" [(ngModel)]="fecha" 
            [max]="getToday()">
        </div>
        <div class="col-2">
            <button class="btn btn-info" (click)="buscarPorFecha()">Buscar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-hover">
               <thead>
                   <tr>
                       <th>Cliente</th>
                       <th>Fecha</th>
                       <th>Total</th>
                       <th>Ver detalle</th>
                   </tr>
               </thead>
               <tbody>
                    <tr *ngFor="let v of ventas;i">
                       <th>{{ v.cliente.nombres }} {{ v.cliente.apellidos }}</th>
                       <th>{{ v.fecha| date:'dd/MM/yyyy' }}</th>
                       <th>{{ v.total }}</th>
                       <th><a href="" (click)="verDetalle(v.id)"  data-bs-toggle="modal" data-bs-target="#exampleModal">Ver detalle</a></th>
                   </tr>
               </tbody>
              </table>
        </div>
    </div>
</div>
<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalle de venta</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

         <h4>Cliente</h4>   

         <div class="row">
             <div class="col-4">
                 <div class=" row form-group">
                    <label class="col-sm-4 col-form-label">Nombres:</label> 
                    <div class="col-sm-8">
                      <input type="text" class="form-control" readonly [value]="detalleVenta?.cliente.nombres">
                    </div>
     
                 </div>
               
             </div>
             <div class="col-4">
                <div class=" row form-group">
                    <label class="col-sm-4 col-form-label">Apellidos:</label> 
                    <div class="col-sm-8">
                      <input type="text" class="form-control" readonly [value]="detalleVenta?.cliente?.apellidos">
                    </div>
     
                 </div>
             </div>
             <div class="col-4">
                <div class=" row form-group">
                    <label class="col-sm-4 col-form-label">DNI:</label> 
                    <div class="col-sm-8">
                      <input type="text" class="form-control" readonly [value]="detalleVenta?.cliente?.dni">
                    </div>
     
                 </div>
             </div>
         </div>
         <div class="row mt-4 justify-content-start">
             <div class="col-4">
                <div class=" row form-group">
                    <label class="col-sm-4 col-form-label">Telefono:</label> 
                    <div class="col-sm-8">
                      <input type="text" class="form-control" readonly [value]="detalleVenta?.cliente?.telefono">
                    </div>
     
                 </div>
               
             </div>
             <div class="col-6">
                <div class=" row form-group">
                    <label class="col-sm-4 col-form-label">Email:</label> 
                    <div class="col-sm-8">
                      <input type="email" class="form-control" readonly [value]="detalleVenta?.cliente?.email">
                    </div>
     
                 </div>
               
             </div>
         </div>

         <div class="row">
             <div class="col-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio unitario</th>
                            <th>Cantidad</th>
                            <th>SubTotal</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="detalleVenta">
                        <tr *ngFor="let detalle of detalles">
                            <th>{{detalle.producto.nombre}}</th>
                            <th>S/. {{detalle.producto.precio.toFixed(2)}}</th>
                            <th>{{detalle.cantidad}}</th>
                            <th>S/. {{(detalle.cantidad*detalle.producto.precio).toFixed(2)}}</th>
                        </tr>
                    </tbody>
                   </table>
             </div>
         </div>
         <div class="row">
            <div class="col-4">
                <div class=" row form-group">
                   <label class="col-sm-4 col-form-label">Fecha:</label> 
                   <div class="col-sm-8">
                     <input type="text" class="form-control" readonly value="{{detalleVenta?.fecha| date:'dd/MM/yyyy'}}">
                   </div>
    
                </div>
              
            </div>
            <div class="col-8">
                <div class="row form-group">
                    <label class="col-sm-4 col-form-label">Total: S/: {{detalleVenta?.total}}</label> 
                </div>
            </div>
         </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>